@import "tailwindcss";
@import "@fontsource-variable/figtree";

@theme {
  --font-*: initial;
  --font-display: "Figtree Variable", sans-serif;

  --color-*: initial;
  /* Light Mode */
  --color-background: #fff;
  --color-text-primary: oklch(0.145 0 0);
}

[data-theme="dark"] {
  --color-background: #000;
  --color-text-primary: oklch(0.985 0 0);
}

@layer base {
  #root {
    @apply font-display bg-background text-text-primary h-screen w-screen;
  }
}
